.posts{ "data-id": "#{message.id}" }
  %ul.posts__lists
    %li.posts__lists--name
      = message.user.name
    %li.posts__lists--time
      = message.created_at.strftime("%Y-%m-%d %H:%M")
  - if message.content.present?
    %p.posts__message
      = message.content
  = image_tag message.image, class: 'posts__image' if message.image.present?
