.main
  .group-info-var
    .group-info
      %h3.group-info__name
        sampleグループ
      %p.group-info__members
        Members: Koki Okada
    .edit
      = link_to "Edit", edit_group_path(id: params[:group_id]), class: 'button'
  .chat-screen
    = render @messages
  .post-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, placeholder:"type a message", class:"post-form__message-form"
      = f.label :image, class: "post-form__upload-label", for: "upload-icon" do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, style: "display:none;", id: 'upload-icon'
      = f.submit 'Send', class: 'post-form__send-button'
